body {
    background-color: #0a0a23;
    font-family: 'Courier New', Courier, monospace;
}

#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
}

#game {
    max-width: 600px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffffcd;
    margin-top: 300px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#controls, #stats {
    border: 1px solid #0a0a23;
    color: #0a0a23;
    padding: 5px;
}

#monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background: #c70d0d;
}

.stat {
    padding-right: 10px;
}

button {
    cursor: pointer;
    color: #f7fbfaf5;
    background-color: #32fec8;
    background-image: linear-gradient(#e64cfe, #ff33ad);
    border: 3px solid #020605
}